
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";
@import "tw-animate-css";
/* @plugin "daisyui"; */


/* Theme Colors */
@theme {
  --color-primary-blue-500: rgb(55, 71, 216);
  --color-primary-blue-700: rgb(26, 44, 139);
  --color-primary-blue-400: rgb(137, 132, 232);
  --color-primary-blue-300: rgb(179, 189, 241);
  --color-primary-white: rgb(255, 255, 255);
  --color-primary-black: rgb(32, 32, 32);

  --color-secondary-dark-gray-300: rgb(209, 209, 214);
  --color-secondary-dark-gray-200: rgb(255, 255, 228);
  --color-secondary-light-gray-200: rgb(228, 228, 231);
  --color-secondary-light-gray-300: rgb(219, 219, 220);
  --color-secondary-light-gray-500: rgb(173, 173, 175);



}

/* Fonts and Typography */
@layer base {
  :root {
    /* === Font Families === */
    --font-geist: "Geist", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
    --font-bebas-neue: "Bebas Neue", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    /* === Font Weights === */
    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    /* === Font Sizes === */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 24px;
    --fs-2xl: 32px;
    --fs-3xl: 36px;
    --fs-4xl: 48px;
    --fs-5xl: 64px;

    /* === Line Heights === */
    --lh-tight: 1.1;
    --lh-snug: 1.3;
    --lh-normal: 1.5;
    --lh-relaxed: 1.625;
    --lh-loose: 2;
  }
}

*{
  font-family: var(--font-geist);
  /* border: 1px solid red; */
}
body {
  /* padding-top: 100px; */
}

.search-bar {
  --size: 40px;
  --padding: 1px;
  --expanded-width: 280px;

  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 100px;
  overflow: hidden;
  padding: var(--padding);
  margin-inline: auto;
  width: var(--size);
  height: var(--size);
  max-width: 100%;
  transition: width 0.5s, outline 0.5s;
  border: none;
}

.search-bar:focus-within {
  width: var(--expanded-width);
}

.search-input {
  font-size: 16px;
  flex: auto;
  opacity: 0;
  transition: opacity 0.5s;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.search-bar:focus-within .search-input {
  opacity: 1;
}

.search-submit {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border-radius: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  border: none;
}


@layer utilities {
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate-slide-left {
    animation: slide-left 8s linear infinite;
  }
}

body{
 /*  padding-top: 100px; */
  font-family: var(--font-geist);
}


